<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>👍 Game of Life</title>
</head>
<body style="background-color:#F7B733">
        
            <div id="menu">
                <ul>
                    <li><a href="http://127.0.0.1:5000/">Trang chủ</a></li>
                    <li><a href="/ca_nhan">Cá nhân</a></li>
                    <li><a href="/hoat-dong">Hoạt động</a></li>
                    <li><a href="">Thói quen</a></li>
                    <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
                    <li><a href="/contribute">Góp ý</a></li>
                </ul>
            </div>
            <div class="title">
                <span>Game of Life</span>
                <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
                {{ name }}
                <img src="{{ avt }}" alt="" width="50px" height="50px">
            </div>
            <a href="/edit_information">Thông tin cá nhân</a>
            <a href="/password1">Bảo mật</a> 
    <div class = "info"> 
        <h3> {{ info["username"] }} </h3>
        <h4>Thông tin cá nhân:</h4>

        Tên: {{ info["fullname"] }}      <br>
        Email: {{ info["email"] }}       <br>
    </div>

    <div class = "thuoc_tinh">
        <h4> Thuộc tính:</h4>
        <span id="st" value="{{ att.st }}"></span>
        <span id="knl" value="{{ att.knl }}"></span>
        <span id="cre" value="{{ att.cre }}"></span>
        <span id="per" value="{{ att.per }}"></span>
        <span id="soc" value="{{ att.soc }}"></span>
    </div>
    <div id="chartContainer"  style="height: 300px; width: 390px;border:3px solid black"></div>

<script>
function showDiv() {document.getElementById('add_q').style.display = "block";}
</script>
    <div class = "quote">
        <h4>Trích dẫn ưa thích:
                <button onclick= "showDiv()"> + </button>   
                <div id="add_q" style="display:none;">
                    <form method = "POST">
                        <input type="text" name = "quote" placeholder = "Nhập trích dẫn" required> <br>
                        <input type="text" name = "author" placeholder = "Nhập tác giả">
                        <button name = "add_quote">Thêm</button>   
                    </form>  
                </div>       
        </h4>

            {% for q in quotes%}
                " {{ q["quote"] }} "        <br>
                ({{ q["author"] }})         <br>
                <br>
            {% endfor %}
    </div>
    <div class = "lich_su">
        <h4> Lịch sử hoạt động:  
                <a href="/hoat-dong">Hoạt động</a> </h4>
        {% for hstr_list in history %}
            {% for h in hstr_list %}
            {% if hstr_list[h] != None%}
                    {% if h != "id" and h!= "user" %}
                        {% if h == "tit"%}
                            Hoạt động: {{ hstr_list[h]}} <br>
                        {% elif h == "des" %}
                            {% if  hstr_list[h] != "" %}
                            Nội dung: {{ hstr_list[h] }} <br>
                            {% endif %}
                        {% elif h == "img" %}
                            {% if  hstr_list[h] != "" %}
                            <a href="{{ hstr_list[h] }}"><img src="{{ hstr_list[h] }}" alt="" height="400" width="400"></a><br>
                            {% endif %}
                        {% elif hstr_list[h] != 0 %}
                             {{ h }}: {{ hstr_list[h] }} <br>
                        {% endif %}
                    {% endif %}
            {% endif %}           
            {% endfor %}<br>
        {% endfor %}
    </div>
    <script>
    
    let st = $('#st').attr('value');
    let knl = $('#knl').attr('value');    
    let cre = $('#cre').attr('value');    
    let per = $('#per').attr('value');    
    let soc = $('#soc').attr('value');
    </script>
    <script src="../static/pieChart.js"></script>
</body>
</html>