<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👍</title>
    
</head>
<body>
        <div class="title">
                <span>Game of Life</span>
                <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
                {{ name }}
                <img src="{{ avt }}" alt="" width="50px" height="50px">               
            </div>

        <div id="menu">
                <ul>
                    <li><a href="http://127.0.0.1:5000/">Trang chủ</a></li>
                    <li><a href="/ca_nhan">Cá nhân</a></li>
                    <li><a href="/hoat-dong">Hoạt động</a></li>
                    <li><a href="">Thói quen</a></li>
                    <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
                    <li><a href="/contribute">Góp ý</a></li>
                </ul>
            </div>
    <p>Bạn có ý tưởng về một hoạt động mới?</p>
    <p>Đừng ngại nói với chúng tôi biết. Mỗi đóng góp của bạn sẽ góp phần phát triển trang web của chúng tôi.</p>
    <p>Điền vào mẫu sau, với mỗi ý tưởng được duyệt bạn sẽ được +2 điểm CRE</p>
    <form action="" method="post">
        <label for="">Tiêu đề</label>
        <input type="text" name="title">
        <div>
            STR:
            <input type="number" name="STR" min="1" max="20" value="2">
        </div>
        <div>
            PER:
            <input type="number" name="PER" min="1" max="20" value="2">
        </div>
        <div>
            KNL:
            <input type="number" name="KNL" min="1" max="20" value="2">
        </div>
        <div>
            SOC:
            <input type="number" name="SOC" min="1" max="20" value="2">
        </div>
        <div>
            CRE:
            <input type="number" name="CRE" min="1" max="20" value="2">
        </div>
        <div>
            <button class="button">Tiếp tục</button>
        </div>
        {% if mes %}
        <strong>{{ mes }}</strong>
        {% endif %}
    </form>
</body>
</html>