<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js" ></script>
    <link rel="stylesheet" href="../static/introduce.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>👍 Game of Life</title>
</head>
<body>
<div id="head" ">
    <div id="title">
            <span id="name">Game of Life</span>
            <div id="user">
                <div id="left">
                    <div>{{ name }}</div>
                    <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
                </div>
                <div id="right"><img src="{{ avt }}" alt="" width="50px" height="50px"></div>
            </div>
    </div>
    <div class="p-2" id="menu">
        <ul>
            <li><a href="http://127.0.0.1:5000/home">Giới thiệu</a></li>
            <li><a href="/ca_nhan">Cá nhân</a></li>
            <li><a href="/hoat-dong">Hoạt động</a></li>
            <li><a href="/habit">Thói quen</a></li>
            <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
            <li><a href="/contribute">Góp ý</a></li>
        </ul>
    </div>