<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👍 Game of Life</title>
</head>
<body>
    <div class="title">
        <span>Game of Life</span>
        <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
        {{ name }}
        <img src="{{ avt }}" alt="" width="50px" height="50px">
    </div>
    <div id="menu">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Trang chủ</a></li>
            <li><a href="/ca_nhan">Cá nhân</a></li>
            <li><a href="/hoat-dong">Hoạt động</a></li>
            <li><a href="">Thói quen</a></li>
            <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
            <li><a href="/contribute">Góp ý</a></li>
        </ul>
    </div>
    <div>
        <form action="" method="POST">
            <label for="">Miêu tả</label>
            <input type="text" name="description">
            <label for="">thêm ảnh</label>
            <input type="url" name="image">
            <label for="">Chia sẻ</label>
            <input type="radio" name="share" value="yes">Yes
            <input type="radio" name="share" value="no">No
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>