<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/sign_in.css">
    <title>👍 Game of Life</title>
</head>
<body>  
    <div class="loginbox">
    <form action="" method="post"> 
            <h3 class="avatar">Sign in</h3>
        <div><input type="text" placeholder="Tên đăng nhập" name="username"></div>
        <div><input type="password" placeholder="Mật khẩu" name="password"></div>
        <button class="button">Đăng nhập</button><br>
        <a href="/sign_up"><small>Người mới? Đăng kí ngay</small></a>
        {% if error %}
        <strong>{{ error }}</strong>
        {% endif %}
    </form>
    </div>
</body>
</html>