<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='social.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>👍 Game of Life</title>
</head>
<body>
        <div id="head">
                <div id="title">
                        <span id="name">Game of Life</span>
                        <div id="user">
                            <div id="left">
                                <div>{{ name }}</div>
                                <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
                            </div>
                            <div id="right"><img src="{{ avt }}" alt="" width="50px" height="50px"></div>
                        </div>
                </div>
                <div class="p-2" id="menu">
                    <ul>
                        <li><a href="http://127.0.0.1:5000/home">Giới thiệu</a></li>
                        <li><a href="/ca_nhan">Cá nhân</a></li>
                        <li><a href="/hoat-dong">Hoạt động</a></li>
                        <li><a href="/habit">Thói quen</a></li>
                        <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
                        <li><a href="/contribute">Góp ý</a></li>
                    </ul>
                </div>
    <br>
    <div id="content">
        <div id="fl_ufl">
            <a href="http://127.0.0.1:5000/social/follow">Theo dõi</a>
            <a href="http://127.0.0.1:5000/social/unfollow">Bỏ theo dõi</a>
        </div>
        <br><br>
        <ul id="posts">
            {% for post in posts %}
            <li id="one_post">
                <h3>{{ post["user"] }}</h3> <br>
                <ul id="post_content">
                    <li>{{ post["tit"] }}</li>
                    <li>{{ post["descript"] }}</li>
                    <a href="{{ post['img'] }}"><img src="{{ post['img'] }}" height="400" width="400"></a><br>
                    <form action="" method="POST">
                        <button name="like{{loop.index}}"><i class="em em-heart"></i>{{ post["like"] }}</button>
                    </form>
                    <li>{{ post["wholike"] }}</li>
                    <form action="" method="POST">
                        <div>
                            <input type="text" name="comment{{loop.index}}" placeholder="Viết bình luận ..." size="50"> 
                            <button>Gửi</button>
                        </div> 
                    </form>
                </ul>
                <ul id="comment">
                    {% for c in post["comments"] %}    
                    <li>
                        <strong>{{ c["owner"] }}</strong>  {{ c["contain"] }}   
                    </li>
                    {% endfor %}
                </ul>
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
</body>
</html>