* {
    font-family: 'Bungee', cursive;
}

.button {
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
}

.header_logo {
    font-family: 'Mountains of Christmas', cursive;
}

.o_input {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
    padding: 0 5px;
}