<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/templates/favicon (1).ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../static/habit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAATSgAAIVFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIgIREAACIiIiIhEAACIRAAIiEQACIRAAACIRACIhEAAAIhEAIiEQAgAiEQIiIRACIiIRAiIhEAAiIRESIiEQAAAAAAIiIRAAAAAAAiIhEAACIhEQIiERAAAiEQAiIREAACERAAIiERAAIREAACIiIiIhEAAAAiIiIREAD8EAAA8AEAAOHBAADD4QAAg+EAAINhAAADAQAAA4AAAAP/AAAD/wAAA8AAAIHhAACB4QAAwOEAAOADAADwBwAA" rel="icon" type="image/x-icon" />
    <title>👍 Game of Life</title>
</head>
<body>
    <div id="title">
        <span id="name">Game of Life</span>
        <div id="user">
            <div id="left">
                <div>{{ name }}</div>
                <a href="http://127.0.0.1:5000/logout"><button>Đăng xuất</button></a>
            </div>
            <div id="right"><img src="{{ avt }}" alt="" width="50px" height="50px"></div>
        </div>
</div>
<div class="p-2" id="menu">
    <ul>
        <li><a href="http://127.0.0.1:5000/home">Giới thiệu</a></li>
        <li><a href="/ca_nhan">Cá nhân</a></li>
        <li><a href="/hoat-dong">Hoạt động</a></li>
        <li><a href="/habit">Thói quen</a></li>
        <li><a href="http://127.0.0.1:5000/social">Cộng đồng</a></li>
        <li><a href="/contribute">Góp ý</a></li>
    </ul>
</div>
            </form>
    <div class = "activities">
        <ul id="list-action" style="list-style: none;">
        {% for habit in habits %}
            <li id="li{{loop.index}}">
                <h3 id="title{{loop.index}}">{{ habit.tit }}</h3>
                Thời gian duy trì thói quen lâu nhất: {{ habit.streak }} ngày liên tiếp <br>
                {% for index in habit %}
                    {% if loop.index >= 5 %}
                        {% if habit[index] != 0 %}
                            {{index}}: {{habit[index]}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
        
    </div>
    <script>
        let numAction = $('#list-action')[0].children.length;
        for (let index = 1; index <= numAction; index++) {
            $(`#title${index}`).on('click', () => {
                if ($(`#li${index}`)[0].children.length === 2) {
                    let title = $(`#title${index}`)[0].innerText;
                    
                    let descForm = `
                    <form id="div-${index}" method = "POST">
                    <label>Miêu tả</label>
                    <input style="display:none" name="${title}"></input>
                    <input type="text" name="description">
                    
                    <label>thêm ảnh</label>
                    <input type="url" name="image">
                    <label>Chia sẻ</label>
                    <input type="radio" name="share" value="yes">Yes
                    <input type="radio" name="share" value="no">No
                    <button type="submit">Save</button>         
                    </form> `;
                    
                    $(`#li${index}`).append(descForm);
                        
                } else {
                    $(`#div-${index}`).remove('form');
                }
            })            
        }
    </script>
</body>
</html>