<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👍 Game of Life</title>
</head>
<body>
<div>
    <div class="welcome">Welcome to</div>
    <div class="welcome">Game of Life</div>
</div>
<div>
    <p id="intro">Nơi giúp bạn theo dõi và định hướng sự thay đổi của bản thân,đồng thời làm cuộc sống của bạn có thêm nhiều thử thách thú vị hơn</p>
</div>

<div id="sign">
<a href="/sign_in">Đăng nhập</a>
<a href="/sign_up">Đăng ký</a>
</div>
</body>
</html>